.location-place {
    height: 250px;
    margin-top: 20px;
    overflow-y: scroll;
}

.location-place-list {
    display: flex;
    align-items: center;
    color: gray;
    margin-top: 20px;
    font-size: 15px;
}

.location-place-list:hover {
    cursor: pointer;
}

.location-icon {
    font-size: 20px;
    margin-right: 10px;
    color: rgba(0, 0, 0, 0.664);
}

/****************** Media Queries ******************/

@media screen and (max-width: 600px) {
    
    .location-place{
        margin-top: 75px;
        height: 400px;
    }

    .location-place-list{
        color: black;
        font-size: 30px;
    }
}